<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<link rel="stylesheet" href="../public/todoList.css">
		<script src="../public/js/home.js"></script>
		<title>Todo List</title>
	</head>
	<body>
		<main class="todolist">
			<header id="header">
				<h2>Todo List</h2>
				<nav>
					<a href="#header">options</a>
					<a href="#tasks">tasks</a>
					<a href="#footer">footer</a>
				</nav>
			</header>
			<section id="todolist">
				<h1>Todo List</h1>
			</section>
			<section id="tasks">
				<h2>All tasks</h2>
				<ul id="listOfTasks"></ul>
			</section>
			<footer id="footer">
				<h6>KeySoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
