<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale:1.0">
		<title>taskForm</title>
	</head>
	<body>
		<form action="/updateTodoApp" method="POST">
			<label>Task:</label><br>
			<input type="text" name="task" placeholder="Insert the task" required><br><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
