<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DeleteAction</title>
	</head>
	<body>
		<a href="/">HomePage</a>
		<a href="/addTask">Add a new task</a>
		<h1>Success deleting <strong><%= deleteTask %></strong> task</h1>
	</body>
</html>
