<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Verify Forgot Password Code</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/login">Sign In</a>
					<a href="/register">Sign Up</a>
				</nav>
			</header>
			<section>
				<h2>Verify Forgot Password Code</h2>
			</section>
			<section>
				<form action="/checkCode" method="POST">
					<label>
						Code:
						<input type="text" name="code" placeholder="Type the code here" required>
						<button type="submit">Submit</button>
					</label>
				</form>
			</section>
			<footer>
				<h6>Keysoft Softwares</h6>
			</footer>
		</main>
	</body>
</html>
