<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/addTask">Add a new Task</a>
					<a href="/deleteTask">Delete a task</a>
				</nav>
			</header>
			<section>
				<h1>Dashboard of TodoApp v1.0 :)</h1>
			</section>
			<section>
				<h2>Welcome <strong><%= user %></strong> to your exclusive profile</h2>
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
