<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale:1.0">
		<title>taskForm</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">HomePage</a>
				</nav>
			</header>
			<form action="/updateTodoApp" method="POST">
				<label>Task:</label><br>
				<input type="text" name="task" placeholder="Insert the task" required><br><br>
				<button type="submit">Submit</button>
			<footer>
				<h6>Think in someone important to you</h6>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
		</form>
	</body>
</html>
