<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Add a new permanent task</title>
	</head>
	<body>
		<main>
			<header>
				<a href="/getDashBoard">Dashboard</a>
				<a href="/addTask">Add a new temporary task</a>
				<a href="/deleteTask">Delete a temporary task</a>
				<a href="/">HomePage</a>
				<a href="/searchUser">Search a user</a>
			</header>
			<section>
				<h2>Add a new permanent task</h2>
			</section>
			<section>
				<form action="/addTodoTask" method="POST">
				<label>Task:</label><br>
				<input type="text" name="task" placeholder="Type the task here" required><br><br>
				<button type="submit">Submit</button>
				</form>
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
