<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<script src="/socket.io/socket.io.js"></script>
		<title>Channels</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/getDashBoard">Dashboard</a>
				</nav>
			</header>
			<section>
				<h2>Welcome to the chat <%= user %> :)</h2>
			</section>
			<section>
				<h4>People on the chat</h4>
				<ul id="list">
				</ul>
			</section>
			<section>
				<div id="messages" style="border: 1px solid">
				</div><br>
				<div>
					<form id="chatForm">
                                        	<label>
                                                	Input:
                                                	<input type="text" id="formMessage" name="message" placeholder="Type the message here" required>
                                                	<button type="submit">Send</button>
                                        	</label>
					</form>
                                </div>
			</section>
			<section>
				<script>
					const form = document.getElementById("chatForm");
					const msg = document.getElementById("formMessage");
					const user = "<%= user %>";
					const socket = io();

					form.addEventListener("submit", (e) => {
						e.preventDefault();
						const text = msg.value.trim();
						if (!text) return; 
						socket.emit("sendMessage", user, text);
						msg.value = "";
					});

					socket.on("connect", () => {
						const user = "<%= user %>";
						socket.emit("join", user);
					});

					socket.on("updateUsers", (users) => {
						const list = document.getElementById("list");
						list.innerHTML = ""; // clean the list
						users.forEach((user) => {
							const li = document.createElement("li");
							li.textContent = user;
							list.appendChild(li);
						});
					});

					socket.on("sendMessage", (messages) => {
						const messagesDiv = document.getElementById("messages");
						messagesDiv.innerHTML = "";
						messages.forEach((msg) => {
							const p = document.createElement("p");
							p.textContent = msg;
							messagesDiv.appendChild(p);
						});
					});

					socket.on("disconnect", () => {
						console.log("Disconnected from server");
					});
				</script>
			</section>
			<footer>
				<h6>Keysoft Softwares</h6>
			</footer>
		</main>
	</body>
</html>
