<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Two authenticator Factor</title>
	</head>
	<body>
		<main>
			<section>
				<h1>Two authenticator factor</h1>
				<p>Welcome <strong> <%= user %> </strong> let's go the next step</p>
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
