<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Change Password</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/getDashBoard">DashBoard</a>
				</nav>
			</header>
			<section>
				<h2>Change password</h2>
				<p>You can change your password here <strong><%= user %></strong> :)</p>
			</section>
			<section>
				<% if (success) { %>
					<p style="color: green"> <%= success %> </p>
				<% } %>
				<% if (message && message.length > 0) { %>
					<% message.forEach(mes => { %>
						<p style="color: red"> <%= mes %> </p>
					<% }) %>
				<% } %>
				<form action="/changePassword" method="POST">
					<label>Password:</label><br>
					<input type="password" name="password" placeholder="Type the password here" required><br><br>
					<label>Confirm password:</label><br>
					<input type="password" name="confirmPassword" placeholder="Retype again the password here" required><br><br>
					<button type="submit">Submit</button>
				</form>
			</section>
			<footer>
				<h6>Keysoft sofwares</h6>
			</footer>
		</main>
	</body>
</html>
