<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Confirmation E-mail Page</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/login">Login</a>
					<a href="/getDashBoard">DashBoard</a>
				</nav>
			</header>
			<section>
				<h2>Confirm your e-mail here <strong><%= user %></strong></h2>
			</section>
			<section>
				<p>Please confirm your e-mail first before go to do your tasks</p>
				<form action="/confirmEmail" method="POST">
					<label>
						Confirmation Code:
						<input type="text" name="code" placeholder="Type the code here" required>
						<button type="submit">Submit</button>
					</label>
				</form>
			</section>
			<footer>
				<h6>Keysoft Softwares</h6>
			</footer>
		</main>
	</body>
</html>
