<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale:1.0">
		<title>Sucess added User</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">HomePage</a>
					<a href="/addTask">Add a new task</a>
					<a href="/getDashBoard">DashBoard</a>
					<a href="/deleteTask">Delete a task</a>
					<a href="/addUser">Add a new user</a>
				</nav>
			</header>
			<section>
				<h2>Success adding <strong> <%= name %></strong> with task <strong> <%= task %> </h2>
			</section>
		</main>
	</body>
</html>
