<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Profile</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/getDashBoard">DashBoard</a>
				</nav>
			</header>
			<section>
				<h2>Profile of <%= user %> </h2>
			</section>
			<section>
				<img src="<%= avatar %>">
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
