<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Success Page</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">Home</a>
					<a href="/getDashBoard">DashBoard</a>
					<a href="/addTask">Add a new task</a>
					<a href="/deleteTask">Delete a task</a>
				</nav>
			</header>
			<section>
				<h1>Success adding <%= task %> task</h1>
			</section>
		</main>
	</body>
</html>
