<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Get a user</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">HomePage</a>
					<a href="/addTask">Add a new task</a>
					<a href="/deleteTask">Delete a task</a>
					<a href="/addUser">Add a new user</a>
					<a href="/deleteUser">Deleta a user</a>
				</nav>
			</header>
			<section>
				<h1>Search a user</h1>
			</section>
			<section>
				<form action="/searchUser" method="POST">
					<label>Name:</label><br>
					<input type="text" name="user" placeholder="Type the name here" required><br><br>
					<button type="submit">Submit</button>
				</form>
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
