<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Fernando Ruan">
		<title>Forgot Password</title>
	</head>
	<body>
		<main>
			<section>
				<h2>Forgot Password Page</h2>
			</section>
			<section>
				<form action="/forgotPassword" method="POST">
					<label>
						Email:
						<input type="email" name="email" placeholder="Type your e-mail here" required>
						<button type="submit">Submit</button>
					</label>
				</form>
			</section>
			<footer>
				<h6>Keysoft softwares</h6>
			</footer>
		</main>
	</body>
</html>
