<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale:1.0">
		<title>Sucess added User</title>
	</head>
	<body>
		<h2>Success adding <strong> <%= name %></strong> with task <strong> <%= task %> </h2>
	</body>
</html>
