<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DeleteSuccessUser</title>
	</head>
	<body>
		<main>
			<header>
				<nav>
					<a href="/">HomePage</a>
					<a href="/addTask">AddTask</a>
					<a href="/deleteTask">Delete a task</a>
					<a href="/deleteUser">Delete a user</a>
					<a href="/addUser">Add a user</a>
				</nav>
			</header>
			<section>
				<h2>Success deleting <strong> <%= user %> </strong> user</h2>
			</section>
		</main>
	</body>
</html>
